.feedback-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background-color: #fff;
  margin: 0 auto;
  box-sizing: border-box;
}
label {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  align-items: start;
  width: 360px;
  margin: 0 auto;
}
input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 8px;
  box-sizing: border-box;
  padding: 12px;
}
textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  margin-bottom: 16px;
  resize: none;
  box-sizing: border-box;
  padding: 12px;
}
button {
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
